sass:
  h1
    text-align: center
  table
    border-collapse: collapse
  th
    background-color: #aaaaaa
    font-size: .7em
    min-height: 40px
    min-width: 40px
  td
    min-height: 40px
    min-width: 40px
  .text-center
    font-size: .5em
    padding: 5px 8px
  .text-left
    font-size: .5em
    padding: 3px
  .text-center.small
    font-size: .5em
    padding: 2px 3px
