sass:
  h1
    text-align: center
  table
    border-collapse: collapse
  th
    background-color: #aaaaaa
    font-size: .7em
    min-height: 40px
    min-width: 40px
  td
    min-height: 40px
    min-width: 40px
